.freelance_polygon{
  background-image: url(../img/freelance_polygon.svg);
  background-size: 100%;
  background-position: center;
  background-position-y: 0px;
  background-repeat: no-repeat;
  margin-top: -17px;
}
.freelance_polygon_mobile{
  background-image: none;
}

.freelance_summit{
  margin: 0 auto 80px auto;
  padding: 40px 0;
  width: 90%;
  max-width: 960px;
  text-align: center;
}

.freelance_summit h2{
  font-family: 'Roboto', sans-serif;
  color: #81D7FC;
  font-style: italic;
  margin-top: 10px;
  font-weight: 700;
  font-size: 60px;
  letter-spacing: -1px;
}

.freelance_summit .sub_title{
  padding: 0 50px;
  margin-top: 10px;
  font-size: 18px;
  display: inline-block;
  position: relative;
}
.freelance_summit .sub_title:before,
.freelance_summit .sub_title:after{
  background-color: #444545;
  content: "";
  display: inline-block;
  height: 1px;
  position: absolute;
  top: 50%;
  width: 30px;
}
.freelance_summit .sub_title:before{
  left: 0;
}
.freelance_summit .sub_title:after{
  right: 7px;
}

.freelance_summit .what_freelance_summit{
  font-weight: 700;
  margin-top: 56px;
  font-size: 22px;
  line-height: 2.1;
}

.freelance_summit_overview{
  text-align: left;
  margin-top: 38px;
  font-size: 18px;
  line-height: 2.5;
  font-weight: 500;
}

@media screen and (max-width: 600px){

  .freelance_polygon{
    background-image: none;
  }
  
  .freelance_summit{
    margin: 0 auto 10px auto;
    padding: 40px 0 0;
  }

  .freelance_summit h2{
    font-size: 26px;
    margin-top: 13px;
  }
  .freelance_summit .sub_title{
    font-size: 14px;
  }
  .freelance_summit .sub_title:before,
  .freelance_summit .sub_title:after{
    height: 0.67px;
    width: 20px;
  }
  .freelance_summit .sub_title:before{
    left: 17px;
  }
  .freelance_summit .sub_title:after{
    right: 17px;
  }
  .freelance_summit .what_freelance_summit{
    display: none;
  }
  .freelance_summit .freelance_summit_overview{
    font-size: 16px;
    margin: 21px auto 0 auto;
    width: 300px;
    line-height: 37px;
  }
}

@media screen and (max-width: 390px){
  .freelance_polygon_mobile{
    background-image: url(../img/freelance_summit_polygon_mobile.svg);
    background-size: contain;
    background-position: center;
    background-position-y: -3px;
    background-repeat: no-repeat;
    margin-top: -26px;
  }
}